body {
  margin: 0;
  height: 100%;
  background-color: rgb(200,200,200);
}

.siteContainer {
  display: flex;
  flex-direction: column;
}

.canvasDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  position: relative;
}

canvas {
   box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.infoDiv {
  overflow-y: auto;
  margin-bottom: 50px;
  margin-left: 20px;
}
