canvas {
   position: absolute;
   left: 5%;
   top: 4%;
   box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

body {
   background-color: rgb(200,200,200);
}

#siteContainer {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}

#canvasDiv {
   height: 100%;
}

#infoDiv {
    position: relative;
    height: 25%;
    width: 100%;
}

span {
   margin-left: 20px;
   margin-top: 20px;
}